/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'Roboto', sans-serif;

// Animations
$firstAnim: all 0.5s ease;
$secondAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #333D51;

$blue: #004FEC;
