@import 'src/styles/utils/media-queries';

.footer-body{
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-title{
  font-weight: 700;

  @include xs-up{
    font-size: 16px;
  }

  @include mm-up{
    font-size: 20px;
  }

  @include sm-up{
    font-size: 25px;
  }
}

.footer-title:first-child{
  margin-bottom: 2px;
}

.footer-title:last-child{
  margin-top: 2px;
}

.footer-caption{
  max-width: 140px;
  font-size: 15px;
  font-weight: 400;

  @include xs-up{
    font-size: 14px;
    line-height: 115%;
  }

  @include mm-up{
    max-width: 100%;
  }
}

.footer-author{
  text-align: right;
}